WebContent/wsdl/GamingServiceBindingPort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:schema="http://www.tbs.be/mgf/schemas" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.tbs.be/mgf/definitions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MGF" targetNamespace="http://www.tbs.be/mgf/definitions">
	
<wsdl:types>
	<xsd:schema targetNamespace="http://www.tbs.be/mgf/definitions">
		<xsd:import namespace="http://www.tbs.be/mgf/schemas" schemaLocation="http://3bstest.appspot.com/wsdl/mgf.xsd"/>
	</xsd:schema>
</wsdl:types>

<wsdl:message name="JoinRequest">
	<wsdl:part element="schema:JoinRequest" name="JoinRequest"/>
</wsdl:message>

<wsdl:message name="JoinReply">
	<wsdl:part element="schema:JoinReply" name="JoinReply"/>
</wsdl:message>

<wsdl:message name="StatusRequest">
	<wsdl:part element="schema:StatusRequest" name="StatusRequest"/>
</wsdl:message>

<wsdl:message name="StatusReply">
	<wsdl:part element="schema:StatusReply" name="StatusReply"/>
</wsdl:message>

<wsdl:message name="LeaveRequest">
	<wsdl:part element="schema:LeaveRequest" name="LeaveRequest"/>
</wsdl:message>

<wsdl:message name="LeaveReply">
	<wsdl:part element="schema:LeaveReply" name="LeaveReply"/>
</wsdl:message>

<wsdl:portType name="GamingService">
	<wsdl:operation name="JoinOperation">
		<wsdl:input message="tns:JoinRequest" name="JoinRequest"/>
		<wsdl:output message="tns:JoinReply" name="JoinReply"/>
	</wsdl:operation>
	<wsdl:operation name="StatusOperation">
		<wsdl:input message="tns:StatusRequest" name="StatusRequest"/>
		<wsdl:output message="tns:StatusReply" name="StatusReply"/>
	</wsdl:operation>
	<wsdl:operation name="LeaveOperation">
		<wsdl:input message="tns:LeaveRequest" name="LeaveRequest"/>
		<wsdl:output message="tns:LeaveReply" name="LeaveReply"/>
	</wsdl:operation>
</wsdl:portType>

<wsdl:binding name="GamingServiceBinding" type="tns:GamingService">
	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
	<wsdl:operation name="JoinOperation">
		<soap:operation soapAction="http://143.129.41.42:8080/Join"/>
		<wsdl:input name="JoinRequest">
			<soap:body use="literal"/>
		</wsdl:input>
		<wsdl:output name="JoinReply">
			<soap:body use="literal"/>
		</wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="StatusOperation">
		<soap:operation soapAction="http://143.129.41.42:8080/Status"/>
		<wsdl:input name="StatusRequest">
			<soap:body use="literal"/>
		</wsdl:input>
		<wsdl:output name="StatusReply">
			<soap:body use="literal"/>
		</wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="LeaveOperation">
		<soap:operation soapAction="http://143.129.41.42:8080/Leave"/>
		<wsdl:input name="LeaveRequest">
			<soap:body use="literal"/>
		</wsdl:input>
		<wsdl:output name="LeaveReply">
			<soap:body use="literal"/>
		</wsdl:output>
	</wsdl:operation>
</wsdl:binding>

<wsdl:service name="GamingService">
	<wsdl:port binding="tns:GamingServiceBinding" name="GamingServiceBindingPort">
		<soap:address location="http://143.129.41.42:8080/MGF_Apache/services/GamingServiceBindingPort"/>
	</wsdl:port>
</wsdl:service>

</definitions>
